# Credentials & Sensitive data
*.pem
*.key
id_*
*.env
secrets/

# Windows OS metadata
Thumbs.db
desktop.ini
.BIN/

# macOS metadata
.DS_Store
._*

# Terraform
**/.terraform/
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
crash.log

# Terraform Plan
*.tfplan
tfplan

# AI Persona & Local Workspace Rules
GEMINI.md
hotcache.md
