[global]
   workgroup = WORKGROUP
   server string = Homelab PVE Samba
   server role = standalone server
   log file = /var/log/samba/%m.log
   max log size = 50
   dns proxy = no

   # Modern SMB & Encryption
   server min protocol = SMB2_02
   client min protocol = SMB2
   server smb encrypt = default

   # macOS & iOS Optimization (Apple VFS Fruit)
   vfs objects = catia fruit streams_xattr
   fruit:metadata = stream
   fruit:model = Macmini
   fruit:posix_rename = yes
   fruit:veto_appledouble = no
   fruit:wipe_intentionally_left_blank_rfork = yes
   fruit:delete_empty_adfiles = yes

[mnt-server]
   comment = All Storage Mounts Root
   path = /mnt
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0775
   directory mask = 0775
   valid users = {{ samba_user }}

[backup]
   comment = Backup Storage (mp0)
   path = /mnt/backup
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0775
   directory mask = 0775
   valid users = {{ samba_user }}

[hdd2]
   comment = Main Media HDD (mp1)
   path = /mnt/hdd2
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0775
   directory mask = 0775
   valid users = {{ samba_user }}

[Downloads]
   comment = Torrent Downloads (mp1/downloads)
   path = /mnt/hdd2/downloads
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0664
   directory mask = 0775
   valid users = {{ samba_user }}

[hdd3]
   comment = Storage HDD 3 (mp2)
   path = /mnt/hdd3
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0775
   directory mask = 0775
   valid users = {{ samba_user }}

[usb1]
   comment = External USB 1 (mp3)
   path = /mnt/usb1
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0775
   directory mask = 0775
   valid users = {{ samba_user }}

[usb2]
   comment = External USB 2 (mp4)
   path = /mnt/usb2
   browseable = yes
   read only = no
   guest ok = no
   create mask = 0775
   directory mask = 0775
   valid users = {{ samba_user }}
